{% extends 'base.html' %}
{% load humanize %}

{% block extra_head %}
<style>
    .container {
        text-align: center; /* Center align text */
        margin-top: 50px; /* Add top margin for spacing */
    }

    h1 {
        font-size: 32px; /* Increase font size for heading */
        margin-bottom: 20px; /* Add bottom margin for separation */
    }

    p {
        font-size: 18px; /* Increase font size for paragraph */
        margin-bottom: 20px; /* Add bottom margin for separation */
    }

    .btn {
        margin-top: 20px; /* Add top margin to the button */
    }
</style>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Vehicle Listed Successfully!</h1>
        <p>Your vehicle has been successfully listed for sale.</p>
        <a href="{% url 'list_vehicle' %}" class="btn btn-primary">List Another Vehicle</a>
    </div>
</body>
{% endblock %}

