{% extends 'base.html' %}

{% block extra_head %}
<style>
          .parent-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0; /* Remove default margin */
            padding-top:20px;
            padding-bottom:20px;
        }

        .login-container {
            background-color: #adadad;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 400px;
            text-align: center;
        }

        .login-container h2 {
            margin-bottom: 20px;
            font-size: 24px;
        }

        .login-container input[type="email"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 12px; /* Increased padding for better spacing */
            margin: 10px 0;
            border: 1px solid #ccc; /* Lighter border color */
            border-radius: 5px;
            background-color: #ffffff;
            color: #000000; /* Changed text color to black for better readability */
            font-size: 16px; /* Increased font size */
            transition: border-color 0.2s ease-in-out; /* Smooth transition for border color */
        }

        .login-container input[type="email"]:focus,
        .login-container input[type="password"]:focus {
            border-color: #187bcd; /* Change border color on focus */
        }

        .login-container button {
            width: 100%;
            padding: 12px; /* Increased padding */
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            background-color: #187bcd;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 16px; /* Increased font size */
            transition: background-color 0.2s ease-in-out; /* Smooth transition for background color */
        }

        .login-container button:hover {
            background-color: #155a9a;
        }

        .login-container .terms {
            margin-top: 20px;
            font-size: 12px;
        }

        .login-container .terms a {
            color: #FFFFFF;
            text-decoration: underline;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 15px; /* Increased margin-top for better separation */
            text-align: center; /* Align error message to the center */
            padding: 5px; /* Added padding for spacing */
            border: 2px solid black; /* Added red border */
            border-radius: 2px; /* Added border radius */
            background-color: #ffe6e6; /* Light red background */
        }
    </style>
{% endblock %}

{% block content %}
<body>
  <div class="parent-container">
    <div class="login-container">
        <h2>Log In</h2>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
                <p>Don't have an account? <a href="{% url 'signup' %}?next={{ next }}">Sign Up</a></p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-group">
                {{ form.email }}
                {% if form.email.errors %}
                    <p class="error-message">{{ form.email.errors }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password }}
                {% if form.password.errors %}
                    <p class="error-message">{{ form.password.errors }}</p>
                {% endif %}
            </div>
            <button type="submit">Log In</button>
        </form>
        <div class="terms">
            <p>This site is protected by reCAPTCHA Enterprise. DrivenDeals’ <a href="{% url 'privacy_policy' %}">Privacy Policy</a> and <a href="{% url 'terms_of_use' %}">Terms of Use</a> apply.</p>
        </div>
        <!-- Debug print of the next URL -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  </div>
</body>
{% endblock %}
