{% extends 'base.html' %}

{% block content %}
<h1>My Bids</h1>

{% if bids %}
    <ul>
        {% for bid in bids %}
            <li>
                <strong>Bid for {{ bid.vehicle.make }} {{ bid.vehicle.model }} ({{ bid.vehicle.year }})</strong><br>
                Amount: {{ bid.amount }}<br>
                Status: {{ bid.get_bid_status_display }}<br>
                Expiry Date: {{ bid.expiry_date }}<br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no bids.</p>
{% endif %}

{% endblock %}
