{% extends 'base.html' %}
{% load humanize %}

{% block extra_head %}
<style>



</style>
{% endblock %}

{% block content %}
<h1>My Listings</h1>

    <!-- Display debug information -->
    {% if debug_info %}
        <ul>
            {% for info in debug_info %}
                <li>{{ info }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Display vehicle listings -->
    {% if vehicles %}
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    <strong>{{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})</strong><br>
                    Price: {{ vehicle.price }}<br>
                    Mileage: {{ vehicle.mileage }} km<br>
                    Color: {{ vehicle.color }}<br>
                    {% if vehicle.picture %}
                        <img src="{{ vehicle.picture.url }}" alt="Vehicle Image" width="200"><br>
                    {% endif %}
                    <a href="{% url 'vehicle_detail' vehicle.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no listings.</p>
    {% endif %}

{% endblock %}